* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

/* Warna latar lembut */
body {
  background-color: #f5f7fa;
  color: #333;
  padding-top: 100px; /* memberi jarak dari header */
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #00abf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 25px;
  color:#ededed;
  text-decoration: none;
  font-weight: 500;    
}

.navbar a {
  font-size: 18px;
  color:#ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #004e73;
}

/* SETIAP BAGIAN */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 10px 60px;
  flex-wrap: wrap;
  margin: 40px 0; /* memberi jarak atas dan bawah */
}

/* GAMBAR */
.image-box img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* TEKS DALAM BOX */
.text-box {
  max-width: 600px;
  background-color: #fff7e6;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  line-height: 1.6;
}

/* JUDUL UTAMA (Mengenal Angka 1–20) */
h1 {
    display: block;
  width: 100%;
  text-align: center;
  color: #0077b6;
  margin-top: 10px;   /* sebelumnya 120px, kurangi agar lebih dekat ke header */
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

/* Tombol Next */
.next-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #00abf0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 20px; /* jarak dari teks */
}

/* Efek saat hover */
.next-button:hover {
  background-color: #0084b8;
}

/* Bungkus tombol agar selalu di tengah bawah */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


p {
  text-align: justify;
  color: #333;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px 0;
  }

  .image-box img {
    width: 90%;
  }

  .text-box {
    width: 90%;
  }

  h2 {
    margin-top: 60px;
  }
}